<mat-card class="card">
    <mat-card-header>
      
      <mat-card-title>C R O N O S</mat-card-title>
      <mat-card-subtitle>Controle do seu dia dia</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="image home C R O N O S">
    <mat-card-content>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
        a type specimen book. It has
      </p>
    </mat-card-content>
  </mat-card>