<div class="container ">
    <form class="form mat-elevation-z8">
        <h2>C R O N O S</h2>
        <img src="assets/img/logo-bull.svg" alt="C R O N O S">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          
          <input 
          [formControl]="email"
          required
          [(ngModel)]="creds.email" name="email"
          matInput placeholder="fulado@gmail.com" >
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input
            [formControl]="senha"
            required
            [(ngModel)]="creds.senha" name="senha"
            type="password" matInput placeholder="senha" >
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>

          <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-stroked-button color="warn">ENTRAR</button>
          
      </form>
      

</div>