.container{
    height: 100%;
    background: linear-gradient(174deg, rgba(255,99,2,1) 0%, rgba(251,108,6,1) 45%, rgba(255,166,56,0.8155637254901961) 83%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 30rem;
    margin: auto;
    background-color: rgb(235,235,235);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

h2{
    width: 100%;
    text-align: center;
}

img{
    height: 10rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;
    
}

.full-width{
    width: 100%;
    
}

button{
    margin-top: 1.5rem;
    
}